/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 34, ../sass/screen.scss */
body {
  font-family: helvetica, arial, sans-serif;
}

/* line 38, ../sass/screen.scss */
h1 {
  font-size: 40px;
}

/* line 42, ../sass/screen.scss */
#main {
  position: absolute;
  min-height: 400px;
  min-width: 400px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 52, ../sass/screen.scss */
#header {
  height: 50px;
  width: 100%;
  background: #00a07d;
  background-image: url(../img/noise.png);
  -webkit-box-shadow: black 0px 0px 15px;
  -moz-box-shadow: black 0px 0px 15px;
  box-shadow: black 0px 0px 15px;
  position: absolute;
  z-index: 3;
}
/* line 61, ../sass/screen.scss */
#header #title {
  text-align: center;
  color: #006851;
  margin: 5px 0 0;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  font-weight: bold;
}

/* line 70, ../sass/screen.scss */
#footer {
  height: 40px;
  width: 100%;
  background: #fcaa3f;
  background-image: url(../img/noise.png);
  position: absolute;
  bottom: 0;
  z-index: 1;
}
/* line 79, ../sass/screen.scss */
#footer .copyright {
  color: #a25b00;
  margin: 8px 0 0;
  font-size: 11px;
  text-align: center;
  line-height: 14px;
}

/* line 88, ../sass/screen.scss */
#content {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 40px;
  left: 0;
  background: #eeeeee;
  background-image: url(../img/noise.png);
  -webkit-box-shadow: black 0px 0px 15px;
  -moz-box-shadow: black 0px 0px 15px;
  box-shadow: black 0px 0px 15px;
  z-index: 2;
}

/* line 100, ../sass/screen.scss */
.crud_panels {
  padding: 20px;
}

/* line 104, ../sass/screen.scss */
#crud_add_panel {
  font-size: 70px;
  color: #CCC;
  line-height: 160px;
}

/* line 110, ../sass/screen.scss */
.panel {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 5px;
  float: left;
  margin: 20px;
  width: 150px;
  height: 175px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid gray;
  background: #eeeeee;
}
/* line 121, ../sass/screen.scss */
.panel h1 {
  font-size: 24px;
  text-align: center;
}
/* line 126, ../sass/screen.scss */
.panel img {
  width: 75px;
  height: 100px;
  margin: 20px auto;
  background: url(../img/icon_person.png) center no-repeat;
}
